[Unit]
Description=BOSixNet server
Documentation=man:bosixnet_webui(1)
After=network.target

[Service]
Type=forking
ExecStart=/usr/lib/bosixnet/webui_launcher

[Install]
WantedBy=multi-user.target
