[Unit]
Description=BOSixNet client
After=network.target

[Service]
Type=forking
ExecStart=/usr/lib/bosixnet/daemon_launcher

[Install]
WantedBy=multi-user.target
